<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.ptjasamutumineralindonesia">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".detail.draftSurvey.ImageController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".detail.draftSurvey.AddDraftSurveyManual"></activity>
        <activity android:name=".NofFoundPage" />
<!--        <activity android:name=".detail.draftSurvey.DrawImage" />-->
        <activity android:name=".detail.sampledispatch.AddSampleDispatchLines" />
        <activity android:name=".detail.sampledispatch.AddSampleDispatch" />
        <activity android:name=".detail.samplingtimebasis.AddSamplingTBasisLine" />
        <activity android:name=".detail.samplingmassbasis.AddSamplingMassBassLine" />
        <activity android:name=".detail.samplingmassbasis.AddSamplingMassBasis" />
        <activity android:name=".detail.samplingtimebasis.AddSamplingTimeBasis" />
        <activity android:name=".detail.attendancecard.AddAttendanceData" />
        <activity android:name=".detail.attendancecard.AddAttendanceCard" />
        <activity android:name=".detail.DetailAssignment" />
        <activity android:name=".role.ChoicesRoleActivity" />
        <activity android:name=".surveyor.MainSurveyor" />
        <activity android:name=".sampler.MainSampler" />
        <activity android:name=".forgot.ForgotPassword" />
        <activity android:name=".MainActivity" />
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>